logs/
models/
datatemp/
temp_data/
temp.ipynb
__pycache__/
**/__pycache__/
*.pyc
.ruff_cache/
.mypy_cache/
.pytest_cache/
site/
updated_segmentations.zip
updated_segmentations
temp_2.ipynb
temp copy.ipynb
tcia_dataset.ipynb
check_tum_datatset.ipynb
